/*CSS para móviles 1280x720*/

/*-----Estilos para la portada-----*/
.container {
	width: 100%;
}
.title {
	margin-top: 40px;
	font-size: 65px;
}

.subtitle {
	font-size: 20px;
	margin-bottom: 50px;
}
.buttons {
	font-size: 16px;
}


/*-----Estilos para el Índice-----*/
body {
    font-size: 22px;
}

.containerindex {
	width: 100%;
	margin: 0 auto;
}
.top_menu {
    width: 96%;
	height: 40px;
	padding: 5px 20px 0px 0px;
	position: fixed;

}
.topbutton {
	margin-top: 5px;
	font-size: 16px;
}
.topbutton:first-child {
    margin-left: 5px;
}
.imglupa {
	margin: 10px 0px 0px 0px;
	width: 20px;
}
.input_search_top {
	display: none;
}
.advanced_search {
	width: 250px;
	height: 250px;
	border: 2px solid #878787;
	margin: 40px 50px 0px 80px;
	padding: 10px 0px 10px 20px;
	background-color: #222222;
	display: block;
	position: fixed;
	z-index: 10;
	background-image: url(../img/lupa_big.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.input_search{
	width: 150px;
	height: 20px;
	font-size: 14px;
	color: white;
	border: 0px;
	margin: 10px 0px;
	background-color: rgba(0,0,0,0); 
	background-image:url(../img/line_400.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	}
.close_search{
	float: right; 
	background-color: rgba(0,0,0,0);
    font-family: robotoregular, helvetica;
	font-size: 14px;
	color: white;
	border: 0px;
}
.scroll {
	width: 90%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 40px 5px 0px 3px;

}
#item {
	width: 100%;
	height: 80px;
	font-size: 16px;
}
.line {
	margin: 85px 0px 0px 0px
}
.mini_img {
    width: 60px;
	height: 60px;
    border-radius: 15px;
	margin: 5px;
}
.index_cont {
	width:100%;
	height: 80px;
	margin-top: 10px;
}
/*-----Estilos para la ficha-----*/
.containercard {
    width: 100%;
}
.backbutton {
	height: 40px;
	font-size: 16px;
}
.backimg {
	height: 100%;
	float: left;
}
.backtext {
	margin-top: 8px;
	float: left;
}
.common_name {
    font-size: 20px;
}
.scientific_name{
	font-size: 18px;
}
.main_image{
	width: 90%;
	margin-top: 40px;
}
.shortdesc {
    width: 90%;
    margin: 20px;
	font-size: 16px;
}
.map {
    width: 90%;
	height: 400px;
	margin: 20px;
}

.main_text {
    width: 87%;
    margin: 10px;
    padding: 0px 10px 10px 10px;
	font-size: 16px;
}

@media all and (orientation:landscape) { 
/*-----Estilos para la portada-----*/
.title {
	font-family: kaushan_scriptregular, helvetica;
	margin-top: 10px;
	font-size: 65px;
}
.subtitle {
	font-size: 30px;
	color: #878787;
	margin-bottom: 20px;
}
.buttons {
	font-size: 16px;
	margin: 0 auto;
}
.bindex {
	float: left;
	width: 50%;
	margin-right: 3%;
}
.btitulo {
	margin: 0px;
}
.bfav {
	float: left;
	width: 22%;
	margin-right: 3%;
}
.beco {
	float: left;
	width: 22%;
}

/*-----Estilos para el Índice-----*/
.top_menu {
    width: 100%;
	height: 30px;
	padding: 10px 20px 10px 0px;
}
.topbutton {
	font-size: 18px;
}
.imglupa {
	width: 25px;
	margin-right: 5px;
}
	
.input_search_top {
	display: block;
	width: 160px;
	height: 18px;
	font-size: 14px;
	color: white;
	border: 0px;
	margin: 0px 5px;
	background-color: rgba(0,0,0,0); 
	background-image:url(../img/line_400.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	
}
.advanced_search {
	
	margin: 5px 20px 0px 330px;

}
/*.input_search{
	width: 400px;
	height: 40px;
	font-size: 30px;
	color: white;
	border: 0px;
	margin: 10px 0px;
	background-color: rgba(0,0,0,0); 
	background-image:url(../img/line_400.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	}*/
.scroll {
	width:95%;
	height:1000px;
	margin: 0px 20px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 40px 0px 0px 0px;
}
.mini_img {
    width: 80px;
	height: 80px;
    border-radius: 15px;
	margin: 5px;
}
.index_cont {
	width:100%;
	height: 100px;
}
#item {
	width: 100%;
	height: 100px;
	font-size: 16px;
}

/*-----Estilos para la ficha-----*/
.backbutton {
	height: 30px;
}
.backimg {
	height: 100%;
	float: left;
}
.backtext {
	margin-top: 3px;
}
.img_name {
	width: 45%;
	float: left;
}
.shortdesc {
	width: 40%;
	margin: 20px;
	font-size: 16px;
	float: left;
}
}



