
body {
    font-size: 18px;
}
.containerindex {
	width: 720px;
}
.advanced_search {
	width: 200px;
	height: 150px;
	border: 3px solid #878787;
	margin: 40px 0px 0px 230px;
	padding: 10px 0px 10px 20px;
	background-color: #222222;
	display: inline-block;
	position: fixed;
	z-index: 10;
	background-image: url(../img/lupa_big.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.advanced_search_hid {
	display: none;
}
.imglupa{
	float: right;
	margin: 3px 10px 0px 0px;
}
.search {
	float: right;
	margin: 0px 10px 0px 0px;
}

.containercard {
    width: 720px;
}

.main_image {
    width: 400px;
    margin-top: 50px;
}

.common_name {
    font-size: 30px;
}
.map {
    width: 250px;
	height: 300px;
    margin: 40px 20px 40px 20px;
    padding: 0px 20px 20px 20px;
}
.shortdesc {
    width: 250px;
	height: 280px;
    margin: 40px 20px 40px 70px;
}

.main_text {
    width: 610px;
    margin: 40px 50px;
    padding: 0px 20px 20px 20px;
}
