
body {
    font-size: 14px;
}

.containercard {
    width: 480px;
}

.main_image {
    width: 200px;
    margin-top: 20px;
}
.common_name {
    font-size: 25px;
}
.map {
    width: 160px;
	height: 150px;
    margin: 30px 20px 20px 10px;
    padding: 0px 20px 20px 20px;
}
.shortdesc {
    width: 180px;
	height: 280px;
    margin: 20px 10px 20px 35px;
}
.main_text {
    width: 410px;
    margin: 20px 25px;
    padding: 0px 10px 10px 10px;
}

