/*CSS para Tablets 1280x800*/
body {
    font-size: 22px;
}
/*-----Estilos para la Índice-----*/
.containerindex {
	width: 100%;
	margin: 0 0;
}
.top_menu {
    width: 100%;
	height: 60px;
	padding: 20px 20px 0px 0px;
	position: absolute;
}
.topbutton {
    background: #222222;
    font-family: robotoregular, helvetica;
	font-size: 30px;
	color: white;
	border: 0px;
}
.topbutton:first-child {
    margin-left: 20px;
}
.imglupa {
	width: 40px;
}
.input_search_top {
	display: none;
}
.advanced_search {
	width: 500px;
	height: 450px;
	border: 3px solid #878787;
	margin: 60px 50px 0px 460px;
	padding: 10px 0px 10px 20px;
	background-color: #222222;
	display: block;
	position: fixed;
	z-index: 10;
	background-image: url(../img/lupa_big.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.input_search{
	width: 400px;
	height: 60px;
	font-size: 35px;
	color: white;
	border: 0px;
	margin: 10px 0px;
	background-color: rgba(0,0,0,0); 
	background-image:url(../img/line_400.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	}
.close_search{
	float: right; 
	background-color: rgba(0,0,0,0);
    font-family: robotoregular, helvetica;
	font-size: 35px;
	color: white;
	border: 0px;
}
.scroll {
	width:100%;
	height:1000px;
	margin: 0px 20px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 80px 0px 0px 0px;
}

#item {
	width: 100%;
	height: 160px;
	font-size: 25px;
}
.names {
	padding-top: 50px;
}
.mini_img {
    width: 140px;
	height: 140px;
    border-radius: 20px;
	margin: 20px;
}
.line {
	margin: 185px 0px 0px 0px
}
.index_cont {
	width:100%;
	height: 200px;
}
/*-----Estilos para la ficha-----*/
.containercard {
    width: 100%;
}

.main_image {
    width: 400px;
    margin-top: 50px;
}

.common_name {
    font-size: 60px;
}
.scientific_name{
	font-size: 50px;
}
.main_image{
	width: 90%
}
.shortdesc {
    width: 90%;
	height: 580px;
    margin: 40px;
	font-size: 50px;
}
.map {
    width: 90%;
	height: 400px;
	margin: 40px
}

.main_text {
    width: 90%;
    margin: 40px ;
    padding: 0px 20px 20px 20px;
	font-size: 40px;
}

@media all and (orientation:landscape) { 
/*Estilos del índice*/
.top_menu {
    width: 100%;
	height: 40px;
	padding: 20px 20px 0px 0px;
	position: relative;
}
.topbutton {
    background: #222222;
    font-family: robotoregular, helvetica;
	font-size: 20px;
	color: white;
	border: 0px;
}
.imglupa {
	width: 25px;
}
	
.input_search_top {
	display: inline;
	width: 200px;
	height: 20px;
	font-size: 16px;
	color: white;
	border: 0px;
	margin: 0px 0px;
	background-color: rgba(0,0,0,0); 
	background-image:url(../img/line_400.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	
}
.advanced_search {
	width: 400px;
	height: 250px;
	border: 3px solid #878787;
	margin: 10px 20px 0px 560px;
	padding: 10px 0px 10px 20px;
	background-color: #222222;
	display: block;
	position: absolute;
	z-index: 10;
	background-image: url(../img/lupa_big.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.input_search{
	width: 300px;
	height: 30px;
	font-size: 16px;
	color: white;
	border: 0px;
	margin: 10px 0px;
	background-color: rgba(0,0,0,0); 
	background-image:url(../img/line_400.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	}
.scroll {
	width:100%;
	height:1000px;
	margin: 0px 20px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px 0px 0px 0px;
}
#item {
	width: 100%;
	height: 100px;
	font-size: 16px;
}
.names {
	padding-top: 20px;
}
.mini_img {
    width: 100px;
	height: 100px;
    border-radius: 20px;
	margin: 20px;
}
.line {
	margin: 125px 0px 0px 0px
}
}



