<!DOCTYPE html>
<html lang="es" ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- CSS comun a todas las pantallas--><link rel="stylesheet" type="text/css" href="css/main.css" />
	<!--CSS responsiva -->
	<link rel="stylesheet" type="text/css" media="screen and (min-width:720px)" href="css/main_720.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 480px) and (max-width: 719px)" href="css/main_480.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 100px) and (max-width: 479px)" href="css/main_320.css" />

	<!--Javascript-->
	<script src="js/lib/angular.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA6cJnxpv05XnN8mETINyBDcZJbEWXSzks&sensor=true"></script>
  	<script src="data/001_controller.js"></script>
	<script> google.maps.event.addDomListener(window, 'load', initialize); </script>
	
</head>

<body ng-controller="fish">
	<div class="containercard">
		<header >
			<img src="{{mainimage}}" class="main_image">
		
			<div class="common_name" >
				{{commonname}}
			</div>
			<div class="scientific_name">
				<I>{{scientificname}}</I>
			</div>

		</header>
			
			<article class="shortdesc" >
				<div class="shortdesc_item" ng-repeat="name in shortdesc">
				<div class="shortdesc_title">{{name.title}}:&nbsp;</div>	{{name.body}} 
				</div>
			</article>
			<div class="map" id="googleMap" ></div>
		<article class="main_text" >
			<div class="description" ng-repeat="name in descbody">
				<h1>{{name.title}}</h1>
				<div class="main_text_body">{{name.body}}</div>
			</div>
		</article>
			
		

		<footer>
			<div style="height:150px;"></div>
		</footer>
	</div> <!-- FIN DEL CONTAINER-->
</body>