<!DOCTYPE html>
<html lang="es" ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
	<meta name="viewport"
      content="
          initial-scale = 1.0 ,
          minimum-scale =1.0 ,
          maximum-scale = 1.0 ,
          user-scalable = no
          " />

	<!-- CSS comun a todas las pantallas-->
	<link rel="stylesheet" type="text/css" href="css/index_list.css" />
	
	<!--CSS responsiva -->
		<!--Global para PC-->
		<link rel="stylesheet" type="text/css" media="screen and (min-width:1300px)" href="css/main_1000.css" /> 
		<link rel="stylesheet" type="text/css" media="screen and (min-width:720px)" href="css/mobile_720apk.css" /> 
		<!--Móviles 1280x720-->
		<link rel="stylesheet" type="text/css" media="screen and (device-width:360px)" href="css/mobile_720.css" />
		<link rel="stylesheet" type="text/css" media="screen and (device-width:640px)" href="css/mobile_720.css" />
		<link rel="stylesheet" type="text/css" media="screen and (device-width:768px)" href="css/mobile_720apk.css" />
		<link rel="stylesheet" type="text/css" media="screen and (device-width:1280px)" href="css/mobile_720apk.css" />		
		<link rel="stylesheet" type="text/css" media="screen and (device-width:720px)" href="css/mobile_720apk.css" />
		<link rel="stylesheet" type="text/css" media="screen and (device-width:1280px)" href="css/mobile_720apk.css" />		
		
		<!--Tablets 1280X800-->
		<link rel="stylesheet" type="text/css" media="screen and (device-width:800px)" href="css/tablet_800.css" />
		<link rel="stylesheet" type="text/css" media="screen and (device-width:1280px)" href="css/tablet_800.css" />
		


	<!--Javascript-->
	<script src="js/lib/angular.js"></script>
  	<script src="data/data.js"></script>
	<script src="js/controller.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA6cJnxpv05XnN8mETINyBDcZJbEWXSzks&sensor=true"></script>
	<script> google.maps.event.addDomListener(window, 'load', initialize); </script>
	
	
</head>
<!-- Comienza el Índice-->
<body ng-controller="global">
	<div ng-controller="fish" class="{{contindshow}}">
		<header>
			<nav class="top_menu" >
				<button class="topbutton" ng-click="showall(); type_color = ''; type_form = ''; type_food = ''; type_wayoflife = ''; type_habitad = '';">Todos</button>
											
				<button class="topbutton" ng-click="showpeces()">Peces</button>  
												
				<button class="topbutton" ng-click="showinvert()">Invertebrados</button>

				<div class="search"> <input  class="input_search_top"  ng-model="type_filter_top" placeholder="Escribe aquí el nombre"> </div><img ng-click="showadsearch()" class ="imglupa" src="img/lupa.png">
				<div class="{{advanced_search}}">
					<input  class="input_search"  ng-model="type_color" placeholder="Coloración"></br>
					<input  class="input_search"  ng-model="type_form" placeholder="Mofología"></br> 	
					<input  class="input_search"  ng-model="type_food" placeholder="Alimentación"></br> 
					<input  class="input_search"  ng-model="type_wayoflife" placeholder="Modo de vida"></br> 
					<input  class="input_search"  ng-model="type_habitad" placeholder="Habitad"></br> 	
					<button class="close_search" style="float: right; background-color: rgba(0,0,0,0)" ng-click="hideadsearch()"> Cerrar </button>
				</div>
			</nav>
		</header>
		
			<div class="scroll">
				<div class="index_cont" ng-repeat="name in data | filter:type_filter_top | filter:{type: type_filter} | filter:{color: type_color} | filter:{color: type_food} | filter:{wayoflife: type_wayoflife} | filter: {habitat:type_habitad} | filter: {form:type_form} | orderBy:order:reverse">
					<div class="index_cont" ng-click="hideindex(name.id)">
						<div id="item" >
							<img src="{{name.mini_img}}" class="mini_img">
							<div class="names">
								<div class="commonnamei">{{name.commonname}}</div>
								<div class="scientific_namei"><I>{{name.scientificname}}</I></div>
							</div>
							<div class="line"><hr/></div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
		<!-- Fin del Indice-->
	
		<!-- Comineza la ficha-->
		<div ng-controller="fish" class="{{contcardshow}}">
			<nav><button ng-click="hidecard()" style="float:none;">back</button></nav>
			<div ng-repeat="name in data | filter:id">
				<img src="{{name.mainimage}}" class="main_image">
				
			
				<div class="common_name" >
					{{name.commonname}}
				</div>
				<div class="scientific_name">
					<I>{{name.scientificname}}</I>
				</div>
			</div>


			
			<article class="shortdesc" >
				<div class="shortdesc_item" ng-repeat="name in data | filter:id">
					<div class="shortdesc_title">Coloración:&nbsp;</div>	{{name.color}} </br>
					<div class="shortdesc_title">Morfología:&nbsp;</div>	{{name.form}} </br>
					<div class="shortdesc_title">Modo de vida:&nbsp;</div>	{{name.wayoflife}} </br>
					<div class="shortdesc_title">Habitad:&nbsp;</div>	{{name.habitat}} </br>
					<div class="shortdesc_title">Alimentación:&nbsp;</div>	{{name.feeding}} </br>
				</div>
			</article>
			<div class="map" id="googleMap"><script> google.maps.event.addDomListener(window, 'load', initialize); google.maps.event.trigger(map, "resize"); </script> </div>
			
			<article class="main_text" >
				<div class="description" ng-repeat="name in data | filter:id">
					<h1>Descripción</h1>
					<div class="main_text_body">{{name.description}}</div>
					</br>

					<h1>Biología</h1>
					<div class="main_text_body">{{name.biology}}</div>
					</br>
					
					<h1>Curiosidades</h1>
					<div class="main_text_body">{{name.curiosidades}}</div>
				</div>
			</article>
		</div>

		<footer>
			<div style="height:150px;"></div>
		</footer>
	</div> <!-- FIN DEL CONTAINER-->
</body>